.titulo {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.csl-bib-body {
    line-height: 2; 
    margin-left: 2em; 
    text-indent:-2em;
}

.csl-entry {
    margin-bottom: 1em;
}

.logos {
    margin-right: 4em !important;
}

.logos img {
    margin: 4em !important;
  }
  